In [41]:
# import raadpy as rp
import numpy as np
import pandas as pd
from astropy.time import Time

import raadpy as rp

In [42]:
LocationFile = '../../Data/Location/LIGHT-1_LLA_April.csv'
LLATData = pd.read_csv(LocationFile)



pd.options.display.max_rows = 20

LLATData

         Time (ModJDate)  Lat (deg)  Lon (deg)    Alt (km)
0           59670.000000     41.659   -146.891  413.443984
1           59670.000012     41.695   -146.823  413.456363
2           59670.000023     41.731   -146.756  413.468733
3           59670.000035     41.768   -146.688  413.481094
4           59670.000046     41.804   -146.620  413.493445
...                  ...        ...        ...         ...
2591996     59699.999954    -46.030    -65.185  417.114124
2591997     59699.999965    -46.001    -65.106  417.094757
2591998     59699.999977    -45.972    -65.028  417.075361
2591999     59699.999988    -45.942    -64.949  417.055938
2592000     59700.000000    -45.913    -64.871  417.036486

[2592001 rows x 4 columns]

In [54]:
# GivenTimestamp = E.get_mjd()
GivenTimestamp = 59670.000006

TData = LLATData["Time (ModJDate)"]

OneTime1 = True

for i in range(len(TData)):
    # if TData[i] <= GivenTimestamp:
    #     MaximumData = LLATData.T[i]
    
    if TData[i] >= GivenTimestamp and OneTime1 == True:
        MaximumData = LLATData.T[i]
        MinimumData = LLATData.T[i-1]
        OneTime1 = False

if MaximumData[0] == GivenTimestamp or MinimumData[0] == GivenTimestamp:
    MinimumData = MaximumData

print(MaximumData,'\n\n',MinimumData)

MaximumData[0]

Time (ModJDate)    59670.000012
Lat (deg)             41.695000
Lon (deg)           -146.823000
Alt (km)             413.456363
Name: 1, dtype: float64

 Time (ModJDate)    59670.000000
Lat (deg)             41.659000
Lon (deg)           -146.891000
Alt (km)             413.443984
Name: 0, dtype: float64

59670.00001157

In [72]:
# def MiddlePoint(initial, final):
#     gradient = 

longitude = MinimumData[2]+((MaximumData[2]-MinimumData[2])*((GivenTimestamp-MinimumData[0])/(MaximumData[0]-MinimumData[0])))
print(longitude)

TimeRange = [MinimumData[0], MaximumData[0]]
LongRange = [MinimumData[2], MaximumData[2]]
longitude2 = np.interp(GivenTimestamp, TimeRange, LongRange)
print(longitude2)

-146.8557363821078
-146.8557363821078

In [58]:
GivenTimestamp-MinimumData[0]

6.000002031214535e-06

In [ ]:
time = E.get_mjd()

def f(EV:rp.event):
    time = EV.get_mjd()

In [ ]:
def g(a):
    return a+2